<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting...</p>
  <script>
    // Delay redirect slightly to let session cookies save properly
    setTimeout(() => {
      window.location.href = '/products'
    }, 500) // 500ms delay
  </script>
</body>
</html>
