@extends('layouts.master')

@section('title', 'Home')

@section('content')
  <!-- Put here only the unique content of the home page, e.g.: -->
  <h1>Welcome to the AdonisJS App</h1>
  <p>This is the home page content.</p>
@endsection
